### Scraping MLB stats from ESPN go###

In this homework we will try to analyze the batting performances of different teams in Major League Baseball using the data available in the following link http://espn.go.com/mlb/stats/team/_/stat/batting

We will first scrape the page corresponding to the 2015 season

In [2]:
url="http://espn.go.com/mlb/stats/team/_/stat/batting/year/2015"

We will now scrape the table found in the above link. You can follow the class notebook to understand how to capture html table tags.

Q1) Write a function which will take the above url and return a pandas dataframe corresponding to the table found in the given link.

In [4]:
import requests
import lxml.html as lh

page = requests.get(url)
doc = lh.fromstring(page.content)
page.content[:500]

'<!DOCTYPE html>\n<html xmlns:fb="http://www.facebook.com/2008/fbml">\n<head><script src="http://sports-ak.espn.go.com/sports/optimizely.js"></script><meta charset="iso-8859-1">\n<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">\n<link rel="icon" sizes="any" mask href="http://a.espncdn.com/prod/assets/icons/E.svg">\n<meta name="theme-color" content="#CC0000">\n<script type="text/javascript">    \n    if(true && navigator && navigator.userAgent.toLowerCase().indexOf("teamstream") >= 0) {\n   '

In [10]:
tr_elements = doc.xpath('//tr')
','.join([str(len(T)) for T in tr_elements[:]])

'1,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,14,14,14,14'

In [14]:
T=tr_elements[2]
i=0;
for t in T.iterchildren():
    i+=1
    name=t.text_content()
    print '%d:"%s"'%(i,name)

1:"1"
2:"Toronto"
3:"162"
4:"5509"
5:"891"
6:"1480"
7:"308"
8:"17"
9:"232"
10:"2518"
11:"852"
12:".269"
13:".340"
14:".457"
15:".797"

In [31]:
col=[]  # collect column names into col
T=tr_elements[1]
print type(T)
i=0
print len(T)
for t in T.iterchildren():
    i+=1
    name=t.text_content()
    print '%d:"%s"'%(i,name)
    col.append((name,[]))

print 'the columns are:',col

<class 'lxml.html.HtmlElement'>
15
1:"RK"
2:"TEAM"
3:"GP"
4:"AB"
5:"R"
6:"H"
7:"2B"
8:"3B"
9:"HR"
10:"TB"
11:"RBI"
12:"AVG"
13:"OBP"
14:"SLG"
15:"OPS"
the columns are: [('RK', []), ('TEAM', []), ('GP', []), ('AB', []), ('R', []), ('H', []), ('2B', []), ('3B', []), ('HR', []), ('TB', []), ('RBI', []), ('AVG', []), ('OBP', []), ('SLG', []), ('OPS', [])]

In [32]:
format=[int,str,int,int,int,int,int,int,int,int,int,float,float,float,float]
print len(format)
format[1]('this')

15

'this'

In [33]:
#30	Atlanta	162	5420	573	1361	251	18	100	1948	548	.251	.314	.359	.674
for j in range(2,len(tr_elements)):
    T=tr_elements[j]
    if len(T)!=15:
        print 'break'
        break
    i=0
    for t in T.iterchildren():
        data=t.text_content()
        try:      
            data=format[i](data)
        except:
            print data,'cannot be converted to float, row,col=',j,i
            data=None
        col[i][1].append(data)
        if i==1:
            print data
        i+=1

Toronto
NY Yankees
Texas
Boston
Colorado
Houston
Kansas City
Arizona
Baltimore
Washington
Pittsburgh
Minnesota
San Francisco
Oakland
Detroit
Chicago Cubs
NY Mets
Cleveland
LA Dodgers
LA Angels
Seattle
Milwaukee
San Diego
St. Louis
Tampa Bay
Cincinnati
Philadelphia
Chicago Sox
Miami
Atlanta
break

In [36]:
col[6][1]

[308,
 272,
 279,
 294,
 274,
 278,
 300,
 289,
 246,
 265,
 292,
 277,
 288,
 277,
 289,
 272,
 295,
 303,
 263,
 243,
 262,
 274,
 260,
 288,
 278,
 257,
 272,
 260,
 236,
 251]

In [34]:
[len(c[1]) for c in col]

[30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30]

In [3]:
def SCRAPE_ESPN_MLB_STATS(url):
    raise "TODO"

Run the above function to scrape season 2015 stats.

In [ ]:
df_2015 = SCRAPE_ESPN_MLB_STATS(url)

We will now produce plots analyzing performance of different teams on different statistical parameters

Q2) Write a function which will take the above dataframe and a list of column names as input and produces a set of plots corresponding to each of the column names provided

In [ ]:
def produce_plots(df, col_names):
    raise "TODO"

Call the above function for the columns

1. HR: Home Runs
2. TB: Total Bases
3. RBI: Runs Batted In

Q3) We will now use the above functions to scrape for more seasons and analyze the performances over a period of 6 years from 2010-2015

In [ ]:
dfs={}
for year in xrange(0,6):
    link = 'http://espn.go.com/mlb/stats/team/_/stat/batting/year/201'+str(year)
    dfs[year]=SCRAPE_ESPN_MLB_STATS(link)

Inorder to analyze performance of teams across seasons, we will need all the data in a single dataframe. 

Q4) Use appropriate pandas functions to combine the above dictionary of year:dataframe to produce one dataframe which has a new column corresponding to the year/season

In [ ]:
combined_df = #combine dfs dictionary with a new column for year

Q5) Now write a function which will take the above dataframe and a list of column names and produces a set of plots corresponding to each of the columns provided. Each plot is a set of subplots, where every subplot is a line graph of the column values over the 6 years for each of the teams in the dataframe.

In [ ]:
def produce_plots_over_seasons(combined_df, col_names):
    raise "TODO"

Call the above function for the columns 

1. HR: Home Runs
2. TB: Total Bases
3. RBI: Runs Batted In